---
layout: default
title: Archive
---

<h1>Archive</h1>

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <h2>{{ year.name }}</h2>
  <ul class="post-list">
    {% for post in year.items %}
      <li>
        <div class="post-title-wrapper">
          <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
        <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}